:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;

  color: var(--primary-title-color);

  background-color: var(--primary-white-color);
}

.list {
  list-style-type: none;
}

.cursor {
  cursor: pointer;
}
/* logo */

.logo {
  color: #000000;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-decoration: none;
}
.logo.footer {
  color: var(--primary-white-color);
}
.logo-web {
  color: var(--accent-color);
}

/* Header */

.link {
  color: var(--primary-title-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link.constanta {
  color: var(--accent-color);
}

.contacts-header {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}
.contacts-header:hover,
.contacts-header:focus {
  color: var(--accent-color);
}

/* main section hero*/

.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-main {
  background: var(--accent-color);

  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
}
.button-main:hover,
.button-main:focus {
  background-color: #188ce8;
  color: var(--primary-white-color);
}

/* section features */

.featres-title {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* Team  */

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  background-color: #f5f4fa;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-speciality {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* portfolio section */

.button {
  background: #f5f4fa;

  color: var(--primary-title-color);

  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* portfolio projects */

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-technology {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* footer */

.footer {
  background-color: #2f303a;
}

address {
  font-style: normal;
}

.adressa {
  text-decoration: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.contacts-footer {
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.contacts-footer:hover,
.contacts-footer:focus,
.adressa:hover,
.adressa:focus {
  color: var(--accent-color);
}
