:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: 'Raleway', sans-serif;

  font-family: 'Roboto', sans-serif;

  color: var(--primary-title-color);

  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

/* logo */

.logo {
  color: #000000;
}
.logo.footer {
  color: #ffffff;
}
.logo-web {
  color: var(--accent-color);
}

/* Header */

.link {
  color: var(--primary-title-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link.constanta {
  color: var(--accent-color);
}

.email-header {
  color: var(--primary-text-color);
}

.email-header:hover,
.email-header:focus {
  color: var(--accent-color);
}

.telephone-header {
  color: var(--primary-text-color);
}
.telephone-header:hover,
.telephone-header:focus {
  color: var(--primary-text-color);
}

/* main section hero*/

.hero {
  background-color: #2f303a;
}

.hero h1 {
  color: #ffffff;
}
.button-main {
  background: var(--accent-color);

  color: white;
}
.button-main:hover,
.button-main:focus {
  background-color: #ffffff;
  color: var(--primary-title-color);
}

/* section features */

.features-text {
  color: var(--primary-text-color);
}

/* Team  */

.team {
  background-color: #f5f4fa;
}

.team-speciality {
  color: var(--primary-text-color);
}

/* portfolio section */

.button {
  background: #f5f4fa;
  color: var(--primary-title-color);
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* portfolio projects */

.project > p {
  color: var(--primary-text-color);
}

/* footer */

footer {
  background-color: #2f303a;
}

.adressa {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #ffffff;
}
.adressa:hover,
.adressa:focus {
  color: #f5f5f5;
}

footer {
  background-color: #2f303a;
}
.email-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.email-footer:hover,
.email-footer:focus {
  color: #f5f5f5;
}

.telephone-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.telephone-footer:hover,
.telephone-footer:focus {
  color: #f5f5f5;
}
