:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;

  color: var(--primary-title-color);

  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.conteiner {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.cursor {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* logo */

.logo {
  color: #000000;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo.footer-logo {
  display: inline-block;

  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.logo-web {
  color: var(--accent-color);
}

/* Header */

.icon-list {
  display: flex;
  align-items: center;
}

.header-link {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 10px;
}

.icon-site-nav {
  fill: #757575;
}

.header-link:hover .icon-site-nav,
.header-link:focus .icon-site-nav {
  fill: var(--accent-color);
}

.navigation-link {
  display: flex;
  align-items: center;
}

.header .conteiner {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;

  margin-left: auto;
}
.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0px;
}
.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;

  display: block;

  color: var(--primary-title-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
}

.contacts-link.header-link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header {
  border-bottom: 1px solid #ececec;
}
/* main section hero*/

.hero {
  max-width: 1600px;
  height: 600px;

  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../img/hero.jpg');

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  color: var(--primary-white-color);

  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  min-width: 216px;

  padding: 10px 26px;
  border-radius: 4px;

  border: 1px solid transparent;

  font-family: inherit;

  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  background: var(--accent-color);
  color: var(--primary-white-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  color: var(--primary-white-color);
}

/* section features */

.item-icon-features {
  height: 120px;

  background: #f5f4fa;
  border-radius: 4px;

  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.list-features {
  display: flex;
}

.list-features .item-features + .item-features {
  margin-left: 30px;
}

.item-features {
  width: 270px;
}

.featres-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  margin: 0;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* Work  */

.work {
  padding-top: 0;
}

.work-list {
  display: flex;
}

.work-list .work-img + .work-img {
  margin-left: 30px;
}

.title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Team  */

.icon-team {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 16px;
}

.social-icon {
  width: 20px;
  height: 20px;

  fill: #afb1b8;
}

.icon-link {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-link:hover .social-icon,
.icon-link:focus .social-icon {
  fill: var(--primary-white-color);
}
.icon-link:hover,
.icon-link:focus {
  background: var(--accent-color);
  border-radius: 50px;
}

.linkedin-icon {
  margin-right: 0;
}

.text-conteiner {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list {
  display: flex;
}
.team-list .team-card + .team-card {
  margin-left: 30px;
}

.team-card {
  width: 270px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  background-color: #f5f4fa;
}

.team-name {
  margin: 0 auto;

  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-text {
  display: block;

  text-align: center;

  margin: 0 auto;
  margin-top: 10px;

  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Clients section */

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.clients-logo {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 30px;
}

.icon-logo {
  width: 106px;
  height: 60px;

  fill: #afb1b8;
}

.icon-clients-link:hover .icon-logo,
.icon-clients-link:focus .icon-logo {
  fill: var(--accent-color);
}

.icon-clients-link:hover,
.icon-clients-link:focus {
  border: 1px solid var(--accent-color);
}

.icon-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
}

/* portfolio section */
.list.btn {
  display: flex;

  margin-bottom: 50px;

  justify-content: center;
}

.list.btn .btn-item + .btn-item {
  margin-left: 8px;
}

.button {
  display: block;
  padding: 6px 22px;

  background: #f5f4fa;

  color: var(--primary-title-color);

  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border: 1px solid transparent;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* portfolio projects */
.project-link {
  text-decoration: none;
  display: block;
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects.list {
  display: flex;
  flex-wrap: wrap;
}

.down-border {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;

  text-decoration: none;
}

.project {
  width: 370px;

  margin-right: 30px;
  margin-bottom: 30px;
}
.project:nth-child(3n) {
  margin-right: 0px;
}
.project:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
/* 
.project-link:hover,
.project-link:focus {
 
} */
.project-name {
  color: var(--primary-title-color);
  text-decoration: none;

  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.project-technology {
  text-decoration: none;

  margin-top: 4px;

  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* footer */

.icon-link-footer:hover,
.icon-link-footer:focus {
  background: #2196f3;
}

.linkedin-icon-footer {
  margin-right: 0;
}

.icon-footer {
  display: flex;
  gap: 10px;
}

.icon-link-footer {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.social-footer-icon {
  width: 20px;
  height: 20px;

  fill: var(--primary-white-color);
}

.icon-footer-text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.icon-footer-conteiner {
  margin-left: 70px;
  display: inline-block;
}

.footer-conteiner {
  display: flex;

  align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

address {
  font-style: normal;
}

.address-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
  display: block;
}
.contacts-link.footer-link {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.contacts-link:hover,
.contacts-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
